#menu {
    border-radius: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(125, 9, 32);
    border: 7px solid rgb(125, 9, 32);
    border-left: 0px;
    border-right: 0px;
    display: inline-flex;
    align-items: center;
    min-width: 656px;
}
.menuButton {
    border-radius: 12px;
    height: 100%;
    border-top: 7px solid rgb(125, 9, 32);
    border-bottom: 7px solid rgb(125, 9, 32);
    border-left: 7px solid rgb(125, 9, 32);
    background-color: rgb(160, 13, 43);
    color: white;
    font-size: 25;
    min-width: 150px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#projects {
    border-right: 5px solid rgb(125, 9, 32);
}
#flexBuffer {
    width: 45%;
    margin: 15px;
}
#aboutContainer {
    min-width: 656px;
    border-radius: 20px;
    width: 100%;
    height: auto;
    min-height: 91%;
    margin-top: 7px;
    background-color: rgb(125, 9, 32);
    display: flex;
    justify-content: space-between;
}
#aboutTitle {
    border-radius: 25px;
    width: 100%;
    height: 160px;
    font-size: 60;
    background-color: rgb(160, 13, 43);
    border: 15px solid rgb(125, 9, 32);
    margin: 0px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#aboutInfo {
    width: 100%;
    height: auto;
    font-size: 25;
    margin: 15px;
}
#linkContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#galleryContainer {
    width: 45%;
    display: grid;
    text-align: center;
    row-gap: 0;
}
#aboutImage {
    border-radius: 15px;
    border: 15px solid black;
    width: 80%;
    min-width: 200px;
    min-height: 160px;
    margin-top: auto;
    margin-left: -15px;
}
#cycle {
    display: flex;
    width: 80%;
    justify-content: center;
}
#cycleLeft {
    margin-right: 10px;
    top: 5px;
    position: relative;
    height: 40px;
    line-height: 10px;
}
#cycleRight {
    margin-left: 10px;
    top: 5px;
    position: relative;
    height: 40px;
    line-height: 10px;
}
.cycleButton {
  background-color: rgb(62, 6, 17);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.smallHeader {
    border-radius: 25px;
    width: 100%;
    border: 15px solid rgb(125, 9, 32);
    margin-bottom: -20px;
    margin-left: -15px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(160, 13, 43);
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40;
}
.dateBox {
    border-radius: 25px;
    width: 100%;
    border: 15px solid rgb(125, 9, 32);
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(160, 13, 43);
    display: inline-flex;
    justify-content: center;
    font-size: 40;
    position: absolute; 
    float: right; width: 18%; 
    min-width: 150px
}
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25;
    color: white;
    background-color:rgb(38, 37, 37)
}
a {
    color: white;
    text-underline-offset: 2px;
}