#menu {
    width: 100%;
    height: 50px;
    background-color: rgb(125, 9, 32);
    border: 7px solid rgb(125, 9, 32);
    border-left: 0px;
    display: inline-flex;
    align-items: center;
}
.menuButton {
    height: 100%;
    border-top: 7px solid rgb(125, 9, 32);
    border-bottom: 7px solid rgb(125, 9, 32);
    border-left: 7px solid rgb(125, 9, 32);
    background-color: rgb(160, 13, 43);
    color: white;
    font-size: 25;
    min-width: 150px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#projects {
    border-right: 5px solid rgb(125, 9, 32);
}
#aaa {
    position: relative;
}
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}