#menu {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(125, 9, 32);
    border: 7px solid rgb(125, 9, 32);
    border-left: 0px;
    border-right: 0px;
    display: inline-flex;
    align-items: center;
}
.menuButton {
    border-radius: 12px;
    height: 100%;
    border-top: 7px solid rgb(125, 9, 32);
    border-bottom: 7px solid rgb(125, 9, 32);
    border-left: 7px solid rgb(125, 9, 32);
    background-color: rgb(160, 13, 43);
    color: white;
    font-size: 25;
    min-width: 150px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#projects {
    border-right: 5px solid rgb(125, 9, 32);
}
#aboutContainer {
    width: 100%;
    height: auto;
    min-height: 90%;
    margin-top: 7px;
    background-color: rgb(125, 9, 32);
}
#aboutTitle {
    border-radius: 25px;
    width: 45%;
    height: 160px;
    font-size: 60;
    background-color: rgb(160, 13, 43);
    border: 15px solid rgb(125, 9, 32);
    margin: 0px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#aboutInfo {
    width: 45%;
    height: auto;
    font-size: 25;
    margin: 15px;
}
.smallHeader {
    border-radius: 25px;
    width: 100%;
    border: 15px solid rgb(125, 9, 32);
    margin-bottom: -20px;
    margin-left: -15px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(160, 13, 43);
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40;
}
html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25;
    color: white;
}